*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
}
  
body {
    font-size: $paraFont;
    font-family: $body-font-family;
    font-weight: 400;
    color: $primaryColor;
    overflow-x: hidden;
}
  
h1, h2, h3, h4, h5, h6, h1>a, h2>a, h3>a, h4>a, h5>a, h6>a  {
    font-family: $body-font-family;
    color: $primaryColor;
    margin: 0;
}
  
a  {
    display: inline-block;
    color: $primaryColor;
    font-weight: 400;
    text-decoration: none;
}
a:focus, a:active, a:hover {
    color: $primaryColor;
    text-decoration: none;
}
  
p, span, li {
    color: $primaryColor;
    margin: 0;
    font-weight: 400;
}
ul,ol {
    padding: 0;
    margin: 0;
    list-style: none;
}
  
button { font-weight: 600; }
input[type="submit"] { cursor: pointer; }
  
img {max-width: 100%;height: auto;text-align: center;border: 0;}
  
button:focus,input:focus,textarea:focus,select:focus {
    outline: none;
    border-color: $primaryColor;
}
  
select:focus{color: $primaryColor !important;}
  
select{outline: none;}
  
input{border: 1px solid transparent !important;}
  
[placeholder]:focus::-webkit-input-placeholder {
    -webkit-transition: opacity 0.3s 0.3s ease; 
    -moz-transition: opacity 0.3s 0.3s ease; 
    -ms-transition: opacity 0.3s 0.3s ease; 
    -o-transition: opacity 0.3s 0.3s ease; 
    transition: opacity 0.3s 0.3s ease; 
    opacity: 0;
}